@import "general.scss";

header {
    background: url('../img/image.png');
    background-size: cover;
    width: 100%; 
    height: 500px;
    padding-top: 56px;
    text-align: center;

    h1 {
        color: white;
        @include font-setting($navfont, 500, 72px);
        line-height: 400px;
    }
}